<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Add Users</h4>
                        <p class="card-category">Fill all fields correctly</p>
                    </div>
                    <div class="card-body">
                      <form v-on:submit.prevent="addDoc">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Name</label>
                                        <input type="text" class="form-control" name="name" v-model="users.name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Email</label>
                                        <input type="email" class="form-control" name="email" v-model="users.email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Contact</label>
                                        <input type="text" class="form-control" name="contact" v-model="users.contact">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Place</label>
                                        <input type="text" class="form-control" name="place" v-model="users.place">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating" for="sel1">Select Title:</label>
                                        <select class="form-control" id="sel1" name="role" v-model="users.role" required>
                                            <option v-bind:value='users.Doctor'>Doctor</option>
                                            <option v-bind:value='users.Nurse'>Nurse</option>
                                        </select>
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating" for="sel1">Gender:</label>
                                        <select class="form-control" id="sel1" name="gender" v-model="users.gender" required>
                                            <option v-bind:value='users.Male'>Male</option>
                                            <option v-bind:value='users.Female'>Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                               <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating" for="sel1">Department:</label>
                                        <select  class="form-control" id="sel1" name="dep_id" v-model="users.dep_id">
                                            <option v-for="user in users" :key="user.id" v-bind:value='user.id'>{{ user.name }}</option>
                                        </select>
                                    </div>
                                </div>
                               </div>
                            <button type="submit" class="btn btn-primary pull-right">Register</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
        return {
          users:{}
        }
    },
     created() {
            let uri = 'http://127.0.0.1:8000/api/departments';
            this.axios.get(uri).then(response => {
                this.users = response.data;
            });
        },
    methods: {
      addDoc(){
        let uri = 'http://127.0.0.1:8000/api/users/store';
    this.axios.post(uri, this.users).then((response) => {
    this.$router.push({name: 'doctors'});
    this.$swal(
  'Success',
  'New ward added successfully',
  'success'
);
    });
         }
    }
  }
</script>
