<template>
    <div>
        <div class="row">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">All Doctors</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Place</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Clinton Mbaty</td>
                                    <td>clintonmbaty@gmail.com</td>
                                    <td>10712083128</td>
                                    <td>DonHom</td>
                                    <td>
                                        <router-link
                                            :to="{ name: 'editdoctor' }"
                                            class="btn btn-info btn-sm"
                                        >Edit</router-link>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" href="#">Remove</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Clinton Mbaty</td>
                                    <td>clintonmbaty@gmail.com</td>
                                    <td>10712083128</td>
                                    <td>DonHom</td>
                                    <td>
                                        <router-link
                                            :to="{ name: 'editdoctor' }"
                                            class="btn btn-info btn-sm"
                                        >Edit</router-link>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" href="#">Remove</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Clinton Mbaty</td>
                                    <td>clintonmbaty@gmail.com</td>
                                    <td>10712083128</td>
                                    <td>DonHom</td>
                                    <td>
                                        <router-link
                                            :to="{ name: 'editdoctor' }"
                                            class="btn btn-info btn-sm"
                                        >Edit</router-link>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" href="#">Remove</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Clinton Mbaty</td>
                                    <td>clintonmbaty@gmail.com</td>
                                    <td>10712083128</td>
                                    <td>DonHom</td>
                                    <td>
                                        <router-link
                                            :to="{ name: 'editdoctor' }"
                                            class="btn btn-info btn-sm"
                                        >Edit</router-link>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" href="#">Remove</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
