<template>
    <div clas="container">

        <div class="row">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">All Patients</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Contact</th>
                                <th>Ward</th>
                                <th>Bed</th>
                                <th>Nurse</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Lucy Akinyi</td>
                                    <td>0712083128</td>
                                    <td>Level 3</td>
                                    <td>34</td>
                                    <td>Otaro</td>
                                    <td>Discharged</td>
                                    <td>
                                        <router-link
                                            :to="{ name: 'editpatient' }"
                                            class="btn btn-info btn-sm"
                                        >Edit</router-link>
                                    </td>
                                    <td>
                                        <a class="btn btn-succcess btn-sm" href="#">Show</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Lucy Akinyi</td>
                                    <td>0712083128</td>
                                    <td>Level 3</td>
                                    <td>34</td>
                                    <td>Otaro/td></td>
                                    <td>On treatment</td>
                                    <td>
                                        <router-link
                                            :to="{ name: 'editpatient' }"
                                            class="btn btn-info btn-sm"
                                        >Edit</router-link>
                                    </td>
                                    <td>
                                        <a class="btn btn-succcess btn-sm" href="#">Show</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Lucy Akinyi</td>
                                    <td>0712083128</td>
                                    <td>Level 3</td>
                                    <td>34</td>
                                    <td>Otaro</td>
                                    <td>Discharged</td>
                                    <td>
                                        <router-link
                                            :to="{ name: 'editpatient' }"
                                            class="btn btn-info btn-sm"
                                        >Edit</router-link>
                                    </td>
                                    <td>
                                        <a class="btn btn-succcess btn-sm" href="#">Show</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Lucy Akinyi</td>
                                    <td>0712083128</td>
                                    <td>Level 3</td>
                                    <td>34</td>
                                    <td>Otaro</td>
                                    <td>On treatment</td>
                                    <td>
                                        <router-link
                                            :to="{ name: 'editpatient' }"
                                            class="btn btn-info btn-sm"
                                        >Edit</router-link>
                                    </td>
                                    <td>
                                        <a class="btn btn-succcess btn-sm" href="#">Show</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
