<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Add Wards</h4>
                        <p class="card-category">Fill all fields correctly</p>
                    </div>
                    <div class="card-body">
                        <form v-on:submit.prevent="addWard">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Ward Name</label>
                                        <input type="text" class="form-control" name="name"  v-model="ward.name">
                                    </div>
                                </div>
                            <button type="submit" class="btn btn-primary pull-right">Register</button>
                            <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
        return {
          ward:{}
        }
    },
    methods: {
      addWard(){
        let uri = 'http://127.0.0.1:8000/api/wards/store';
    this.axios.post(uri, this.ward).then((response) => {
    this.$router.push({name: 'wards'});
    this.$swal(
  'Success',
  'New ward added successfully',
  'success'
);
    });
         }
    }
  }
</script>
