<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Edit Ward</h4>
                        <p class="card-category">Fill all fields correctly</p>
                    </div>
                    <div class="card-body">
                        <form v-on:submit.prevent="updateWard">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Ward Name</label>
                                        <input type="text" class="form-control" name="name" v-model="ward.name">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">Update</button>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {

        data() {
            return {
                ward: {}
            }
        },
        created() {
            let uri = `http://127.0.0.1:8000/api/wards/edit/0${this.$route.params.id}`;
            this.axios.get(uri).then((response) => {
                this.ward = response.data;
            });
        },
        methods: {
            updateWard() {
                let uri = `http://127.0.0.1:8000/api/wards/update/${this.$route.params.id}`;
                this.axios.post(uri, this.ward).then((response) => {
                    this.$router.push({name: 'wards'});
                    this.$swal(
  'Success',
  'Ward  updated successfully',
  'success'
);
                });
            }
        }
    }
</script>
