<template>
        <div>
            <div class="row">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Wards</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Date</th>
                                </thead>
                                <tbody>
                                <tr v-for="ward in wards" :key="ward.id">
                                    <td>{{ ward.id}}</td>
                                    <td>{{ ward.name}}</td>
                                    <td>{{ ward.created_at}}</td>
                                    <td>
                                        <router-link
                                                :to="{ name: 'editward', params: { id: ward.id } }"
                                                class="btn btn-info btn-sm"
                                        >Edit</router-link>
                                    </td>
                                   
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
<script>
    export default {
        data() {
            return {
                wards: []
            }
        },
        created() {
            let uri = 'http://127.0.0.1:8000/api/wards';
            this.axios.get(uri).then(response => {
                this.wards = response.data;
            });
        },
        methods: {
      deleteItem(id)
      {
            let uri = `http://127.0.0.1:8000/api/dep/destroy/${id}`;
            // this.departments.splice(id, 1);
            // this.axios.delete(uri);
             this.axios.delete(uri).then(response => {
          this.departments.splice(this.departments.indexOf(id), 1)
           this.$router.push({name: 'departments'});
             });
        }
    }
    }
</script>
