<template>
    <div>
        <div class="wrapper">
            <div
                class="sidebar"
                data-color="purple"
                data-background-color="white"
                data-image="assets/img/sidebar-1.jpg"
            >
                <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
                -->
                <div class="logo">
                    <a
                        href="http://www.creative-tim.com"
                        class="simple-text logo-normal"
                    >HOMALIME HC</a>
                </div>
                <div class="sidebar-wrapper">
                    <ul class="nav">
                        <li class="nav-item active">
                            <router-link :to="{ name: 'home' }" class="nav-link">
                                <i class="material-icons">dashboard</i>
                                <p>Dashboard</p>
                            </router-link>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person_add</i>
                                    Users
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <router-link :to="{ name: 'adddoctor' }" class="dropdown-item">Add Users</router-link>
                                    <router-link :to="{ name: 'doctors' }" class="dropdown-item">All Users</router-link>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">favorite</i>
                                    Patients
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <router-link :to="{ name: 'addpatient' }" class="dropdown-item">Add pateint</router-link>
                                    <router-link :to="{ name: 'patients' }" class="dropdown-item">All patients</router-link>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">house</i>
                                    Departments
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <router-link :to="{ name: 'adddepartment' }" class="dropdown-item">Add department</router-link>
                                    <router-link :to="{ name: 'departments' }" class="dropdown-item">All departments</router-link>
                                </div>
                            </div>
                        </li>
                      <li class="nav-item dropdown">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">house</i>
                                    Wards
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <router-link :to="{ name: 'addward' }" class="dropdown-item">Add wards</router-link>
                                    <router-link :to="{ name: 'wards' }" class="dropdown-item">All wards</router-link>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <a class="navbar-brand" href="#pablo">Dashboard</a>
                        </div>
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            aria-controls="navigation-index"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="sr-only">Toggle navigation</span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end">
                            <form class="navbar-form">
                                <div class="input-group no-border">
                                    <input
                                        type="text"
                                        value=""
                                        class="form-control"
                                        placeholder="Search..."
                                    >
                                    <button
                                        type="submit"
                                        class="btn btn-white btn-round btn-just-icon"
                                    >
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </form>
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link"
                                        href="#pablo"
                                        id="navbarDropdownProfile"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                    >
                                        <i class="material-icons">person</i>
                                        <p class="d-lg-none d-md-block">Account</p>
                                    </a>
                                    <div
                                        class="dropdown-menu dropdown-menu-right"
                                        aria-labelledby="navbarDropdownProfile"
                                    >
                                        <router-link
                                            :to="{ name: 'profile' }"
                                            class="dropdown-item"
                                        >Profile</router-link>
                                        <a class="dropdown-item" href="#">Settings</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Log out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
                <div class="content">
                    <div>
                        <transition name="fade">
                        <router-view></router-view>
                        </transition>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>
<script>
export default {};
</script>
