<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Add Department</h4>
                        <p class="card-category">Fill all fields correctly</p>
                    </div>
                    <div class="card-body">
                        <form v-on:submit.prevent="addDep">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Department Name</label>
                                        <input type="text" class="form-control" name="name"  v-model="dep.name">
                                    </div>
                                </div>
                            <button type="submit" class="btn btn-primary pull-right">Register</button>
                            <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
        return {
          dep:{}
        }
    },
    methods: {
      addDep(){
        let uri = 'http://127.0.0.1:8000/api/dep/store';
    this.axios.post(uri, this.dep).then((response) => {
    this.$router.push({name: 'departments'});
 this.$swal(
  'Success',
  'New department added successfully',
  'success'
);
    })
    .catch(error => this.errors = error.response.data.errors);
         }
    }
  }
</script>
