<template>
        <div>
            <div class="row">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Departments</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Date</th>
                                </thead>
                                <tbody>
                                <tr v-for="dep in departments" :key="dep.id">
                                    <td>{{dep.id}}</td>
                                    <td>{{dep.name}}</td>
                                    <td>{{dep.created_at}}</td>
                                    <td>
                                        <router-link
                                                :to="{ name: 'editdep', params: { id: dep.id } }"
                                                class="btn btn-info btn-sm"
                                        >Edit</router-link>
                                    </td>
                                    <td>
                                         <button class="btn btn-danger btn-sm" @click.prevent="deleteItem(dep.id)">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
<script>
    export default {
        data() {
            return {
                departments: []
            }
        },
        created() {
            let uri = 'http://127.0.0.1:8000/api/departments';
            this.axios.get(uri).then(response => {
                this.departments = response.data;
            });
        },
        methods: {
      deleteItem(id)
      {
            let uri = `http://127.0.0.1:8000/api/dep/destroy/${id}`;
            // this.departments.splice(id, 1);
            // this.axios.delete(uri);
             this.axios.delete(uri).then(response => {
          this.departments.splice(this.departments.indexOf(id), 1)
           this.$router.push({name: 'departments'});
           this.$swal(
  'Success',
  'department deleted successfully',
  'success'
);
             });
        }
    }
    }
</script>
